version: '3'
services:
  db:
    image: postgres:9.6
    volumes:
      - ./tmp/db:/var/lib/postgresql/data
    ports:
      - "5432:5432"
  redis:
    image: redis:3.2
    volumes:
      - ./tmp/redis-data:/data
    ports:
      - "6379:6379"
  worker:
    build: .
    volumes:
      - .:/myapp
    depends_on:
      - redis
    command: bundle exec sidekiq -C config/sidekiq.yml
  web:
    build: .
    command: bundle exec rails s -p 3000 -b '0.0.0.0'
    volumes:
      - .:/myapp
    ports:
      - "3000:3000"
    depends_on:
      - redis
      - db
